.slideshow-container img {
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
}

.active {
  opacity: 1;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #f8f9fa; /* Light background for the hovered item */
  border-radius: 0; /* Optional: round the corners */
  color: lightgray; /* Change text color to light gray on hover */
}

.enter-btn {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 28px;
  left: -200px; /* Moves the button to the left */
  margin-top: 20px;
  padding: 15px 30px;
  position: relative;
  top: 200px; /* Moves the button down */
}

.enter-btn:hover {
  background-color: lightgray;
}

html, body {
  height: 100%; /* Ensure the body takes the full height of the viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex-grow: 1; /* This makes the content area take up the remaining space */
}

footer {
  background-color: #f8f9fa; /* Light background */
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto; /* This ensures the footer sticks at the bottom */
}

.footer-text {
  margin: 0;
  font-family: "PTSans Regular";
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}